* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  border: 1px solid #000;
  background: transparent;
}
svg,
img {
  max-width: 100%;
  height: auto;
  display: block;
}

input {
  outline: 0;
  border: 1px solid #000;
  background: transparent;
  color: #000;
}

a {
  text-decoration: 0;
  color: tomato;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

::placeholder {
  color: #c1c1c1c1;
}
